@{
}
@model IEnumerable<string>

<a asp-controller="Home" asp-action="Burial_Records" asp-route-burialSex="" asp-route-pageNum="1">Reset filters</a>

<div class="d-grid gap-2">
    <h4>SEX</h4>

    @{ string sexString = "";}
    @foreach (string s in Model)
    {
        //Set the display string for sex filter based on data from database
        @if (s == null)
        {
            sexString = "All";
        }
        else if (s == "M")
        {
            sexString = "Male";
        }
        else if (s == "F")
        {
            sexString = "Female";
        }

        if (s == null)
        {
            <a asp-controller="Home" asp-action="Burial_Records" asp-route-burialSex="@s" asp-route-pageNum="1"
               class="btn @(ViewBag.SelectedSex == s ? "btn-primary" : "btn-outline-secondary")">@sexString</a>
        }
        else if (s == "M" | s == "F")
        {
            <a asp-controller="Home" asp-action="Burial_Records" asp-route-burialSex="@s" asp-route-pageNum="1"
               class="btn @(ViewBag.SelectedSex == s ? "btn-primary" : "btn-outline-secondary")">@sexString</a>
        }

    }
</div>
