@{
    ViewData["Title"] = "Burial Records";
}
@model List<IntexWinter.Models.Burialmain>

@foreach (IntexWinter.Models.Burialmain b in Model)
{
    <h3>Burial Entry @b.Id</h3>
    <ul>
        <li>Depth: @b.Depth</li>
        <li>Length: @b.Length</li>
        <li>Adult or child: @b.Adultsubadult</li>
        <li>Age at death: @b.Ageatdeath</li>
    </ul>
    <br />
}