@{
    ViewData["Title"] = "Burial Records";
}
@model BurialsViewModel

@foreach (IntexWinter.Models.Burialmain b in Model.Burialmains)
{
    <h3>Burial Entry @b.Id</h3>
    <ul>
        <li>Depth: @b.Depth</li>
        <li>Length: @b.Length</li>
        <li>Adult or child: @b.Adultsubadult</li>
        <li>Age at death: @b.Ageatdeath</li>
    </ul>
    <br />
}

<div page-model="@Model.PageInfo" page-action="Burial_Records"></div>