@model BurialEditViewModel

<h2>Edit Burial</h2>

<form method="post">
    <div class="form-group">
        <label for="SquareNorthSouth">Square North South</label>
        <input type="text" class="form-control" id="SquareNorthSouth" name="SquareNorthSouth" value="@Model.SquareNorthSouth" >
    </div>
    <div class="form-group">
        <label for="HeadDirection">Head Direction</label>
        <select class="form-control" id="HeadDirection" name="HeadDirection" value="@Model.HeadDirection">
            <option value="W">W</option>
            <option value="E">E</option>
        </select>
    </div>
    <div class="form-group">
        <label for="Sex">Sex</label>
        <select class="form-control" id="Sex" name="Sex" value="@Model.Sex">
            <option value="M">M</option>
            <option value="F">F</option>
        </select>
    </div>
    <div class="form-group">
        <label for="NorthSouth">North South</label>
        <select class="form-control" id="NorthSouth" name="NorthSouth" value="@Model.NorthSouth">
            <option value="N">N</option>
            <option value="S">S</option>
        </select>
    </div>
    <div class="form-group">
        <label for="Depth">Depth</label>
        <input type="number" class="form-control" id="Depth" name="Depth" min="0" max="10" step="0.01" value="@Model.Depth" />
    </div>
    <div class="form-group">
        <label for="EastWest">East West</label>
        <select class="form-control" id="EastWest" name="EastWest" value="@Model.EastWest">
            <option value="W">W</option>
            <option value="E">E</option>
        </select>
    </div>
    <div class="form-group">
        <label for="AdultSubadult">Adult Subadult</label>
        <select class="form-control" id="EastWest" name="EastWest" value="@Model.AdultSubadult">
            <option value="A">Adult</option>
            <option value="C">Child</option>
        </select>
    </div>
    <div class="form-group">
        <label for="FaceBundles">Face Bundles</label>
        <select class="form-control" id="FaceBundles" name="FaceBundles" value="@Model.FaceBundles">
            <option value="Y">Y</option>
            <option value="N">N</option>
        </select>
    </div>
    <div class="form-group">
        <label for="SouthToHead">South To Head</label>
        <input type="number" class="form-control" id="SouthToHead" name="SouthToHead" min="-10" max="10" step="0.01" value="@Model.SouthToHead" />
    </div>
    <div class="form-group">
        <label for="Preservation">Preservation</label>
        <input type="text" class="form-control" id="Preservation" name="Preservation" value="@Model.Preservation" />
    </div>
    <div class="form-group">
        <label for="FieldBookPage">Field Book Page</label>
        <input type="text" class="form-control" id="FieldBookPage" name="FieldBookPage" value="@Model.FieldBookPage" />
    </div>
    <div class="form-group">
        <label for="SquareEastWest">Square East West</label>
        <input type="number" class="form-control" id="SquareEastWest" name="SquareEastWest" min="0" max="100" step="0.01" value="@Model.SquareEastWest" />
    </div>
    <div class="form-group">
        <label for="Goods">Goods</label>
        <select class="form-control" id="Goods" name="Goods" value="@Model.Goods">
            <option value="Y">Y</option>
            <option value="N">N</option>
        </select>
    </div>
    <div class="form-group">
        <label for="Text">Text</label>
        <input type="text" class="form-control" id="Text" name="Text" value="@Model.Text" />
    </div>
    <div class="form-group">
        <label for="Wrapping">Wrapping</label>
        <select class="form-control" id="Wrapping" name="Wrapping" value="@Model.Wrapping">
            <option value="B">Bones</option>
            <option value="W">Fully Wrapped</option>
            <option value="H">Partial Wrapping</option>
            <option value="U">Uknown</option>
        </select>
    </div>
    <div class="form-group">
        <label for="HairColor">HairColor</label>
        <select class="form-control" id="HairColor" name="HairColor" value="@Model.HairColor">
            <option value="B">Brown</option>
            <option value="K">Black</option>
            <option value="A">Brown-Red</option>
            <option value="R">Red</option>
            <option value="D">Blonde</option>
            <option value="U">Uknown</option>
        </select>
    </div>
    <div class="form-group">
        <label for="WestToHead">WestToHead</label>
        <input type="text" class="form-control" id="WestToHead" name="WestToHead" value="@Model.WestToHead" />
    </div>
    <div class="form-group">
        <label for="SamplesCollected">SamplesCollected</label>
        <select class="form-control" id="SamplesCollected" name="SamplesCollected" value="@Model.SamplesCollected">
            <option value="True">True</option>
            <option value="False">False</option>
        </select>
    </div>
    <div class="form-group">
        <label for="Burialid">Burialid</label>
        <input type="text" class="form-control" id="Burialid" name="Burialid" value="@Model.Burialid" />
    </div>
    <div class="form-group">
        <label for="Area">Area</label>
        <select class="form-control" id="Area" name="Area" value="@Model.Area">
            <option value="NW">NW</option>
            <option value="SW">SW</option>
            <option value="SE">SE</option>
            <option value="NE">NE</option>
        </select>
    </div>
    <div class="form-group">
        <label for="Length">Length</label>
        <input type="number" class="form-control" id="Length" name="Length" min="0" max="10" step="0.01" value="@Model.Length" />
    </div>
    <div class="form-group">
        <label for="BurialNumber">BurialNumber</label>
        <input type="number" class="form-control" id="BurialNumber" name="BurialNumber" value="@Model.BurialNumber" />
    </div>
    <div class="form-group">
        <label for="DataExpertInitials">DataExpertInitials</label>
        <input type="text" class="form-control" id="DataExpertInitials" name="DataExpertInitials" value="@Model.DataExpertInitials" />
    </div>
    <div class="form-group">
        <label for="WestToFeet">WestToFeet</label>
        <input type="number" class="form-control" id="WestToFeet" name="WestToFeet" min="-10" max="10" step="0.01" value="@Model.WestToFeet" />
    </div>
    <div class="form-group">
        <label for="AgeAtDeath">AgeAtDeath</label>
        <select class="form-control" id="AgeAtDeath" name="AgeAtDeath" value="@Model.AgeAtDeath">
            <option value="A">Adult</option>
            <option value="C">Child</option>
            <option value="I">Infant</option>
            <option value="N">Neborn</option>
            <option value="U">Uknown</option>
        </select>
    </div>
    <div class="form-group">
        <label for="SouthToFeet">SouthToFeet</label>
        <input type="number" class="form-control" id="SouthToFeet" name="SouthToFeet" min="-10" max="10" step="0.01" value="@Model.SouthToFeet" />
    </div>
    <div class="form-group">
        <label for="ExcavationRecorder">ExcavationRecorder</label>
        <input type="text" class="form-control" id="ExcavationRecorder" name="ExcavationRecorder" value="@Model.ExcavationRecorder" />
    </div>
    <div class="form-group">
        <label for="Hair">Hair</label>
        <input type="text" class="form-control" id="Hair" name="Hair" value="@Model.Hair" />
    </div>
    <div class="form-group">
        <label for="Photos">Photos</label>
        <input type="text" class="form-control" id="Photos" name="Photos" value="@Model.Photos" />
    </div>
    <div class="form-group">
        <label for="BurialMaterials">BurialMaterials</label>
        <input type="text" class="form-control" id="BurialMaterials" name="BurialMaterials" value="@Model.BurialMaterials" />
    </div>
    <div class="form-group">
        <label for="DateOfExcavation">DateOfExcavation</label>
        <input type="date" class="form-control" id="DateOfExcavation" name="DateOfExcavation" value="@Model.DateOfExcavation" />
    </div>
    <div class="form-group">
        <label for="FieldBookExcavationYear">FieldBookExcavationYear</label>
        <input type="number" class="form-control" id="FieldBookExcavationYear" name="FieldBookExcavationYear" min="2000" max="2200" value="@Model.FieldBookExcavationYear" />
    </div>
    <div class="form-group">
        <label for="ClusterNumber">ClusterNumber</label>
        <input type="text" class="form-control" id="ClusterNumber" name="ClusterNumber" value="@Model.ClusterNumber" />
    </div>
    <div class="form-group">
        <label for="ShaftNumber">ShaftNumber</label>
        <input type="text" class="form-control" id="ShaftNumber" name="ShaftNumber" value="@Model.ShaftNumber" />
    </div>

    <br />

    <button type="submit" class="btn btn-primary">Save Changes</button>
    <a asp-action="Burial_Details" asp-route-id="@Model.Id" class="btn btn-default">Cancel</a>

</form>
